<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>トーラスリバーシ</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10"></script>
    <script src="board.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <h1>トーラスリバーシ</h1>
    <h2>ルール</h2>
    <p>ゲームの盤面の左右、上下がそれぞれ接続されているリバーシ（オセロ）の亜種ゲームです。<br>
    見やすさのため盤面を4個コピーして表示しています。<br>
    ゲーム終了時の石数はオセロ公式ルールに基づき、空きマスの数を勝者の石数に入れています。<br>
    何度かプレイしたところ、どうも後手（というか最終手）を打てるとある程度有利なようです。白番で勝ったら黒番にも挑戦してみてください。</p>
    <h2>モードについて</h2>
    <p>一人でコンピューターと遊べる一人モードと、二人で対戦できる二人モードがあります。<br>
    シェア時にはゲーム中に選択した難易度のうち、最も低いものが表示されるので注意してください。<br>
    一人モードのコンピューターはあまり工夫しておらず、強くなる余地はかなりあると思うので、強くなるPull Requestをお待ちしております。</p>
    <div id="game">
      <div id="board3x3">
        <table border=1 class="board" v-for="index in 4">
          <tr v-for="(line,row) in matrix">
            <td v-for="(square,col) in line" class="square" v-on:click="put(row,col)">
              <div v-if="row === prevrow && col === prevcol && matrix[row][col] === 1" class="circle black prevpos"></div>
              <div v-else-if="matrix[row][col] === 1" class="circle black"></div>
              <div v-else-if="row === prevrow && col === prevcol && matrix[row][col] === 2" class="circle white prevpos"></div>
              <div v-else-if="matrix[row][col] === 2" class="circle white"></div>
              <div v-else-if="ok[row][col]" class="circle candidate"></div>
              <div v-else class="circle"></div>
            </td>
          </tr>
        </table>
        <p class="thinking" v-if="!playerturn">思考中…</p>
      </div>
      <button v-on:click="pass()">パス</button>
      <button v-on:click="singleMode(1)">一人モード 黒番から</button>
      <button v-on:click="singleMode(2)">一人モード 白番から</button>
      <button v-on:click="doubleMode()">二人モード</button>
      <label>難易度</label>
      <select v-model="level">
        <option v-bind:value="0">Easy</option>
        <option v-bind:value="1">Normal</option>
        <option v-bind:value="2">Hard</option>
      </select>
      <p v-if="gameover">ゲーム終了 {{ blackcount }} : {{ whitecount }} で {{ winner }} <button v-on:click="share()">結果をシェア</button></p>
      <p v-else>次は{{ turnstring }}番です</p>
    </div>
    <hr>
    <dl>
      <dt>作者</dt><dd>そすうぽよ(prime)</dd>
      <dt>リポジトリ</dt><dd><a href="https://github.com/primenumber/torus-reversi">GitHub primenumber/torus-reversi</a></dd>
    </dl>
    <script src="main.js"></script>
  </body>
</html>
