.circle {
  border-radius: 50%;
  margin: 0px auto;
  width: 30px;
  height: 30px;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.prevpos {
  width: 29px;
  height: 29px;
  border-width: 3px;
  border-style: dotted;
  border-color: red;
}

.candidate {
  width: 29px;
  height: 29px;
  border-width: 3px;
  border-style: dotted;
  border-color: yellow;
}

.board {
  background-color: green;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-collapse: collapse;
  width: 400px;
  height: 400px;
}

.square {
  width: 48px;
  height: 48px;
  border-width: 2px;
  padding: 0;
}

#board3x3 {
  position: relative;
  display: grid;
  grid-template-rows: 400px 400px;
  grid-template-columns: 400px 400px;
  width: 800px;
  height: 800px;
}

.thinking {
  position: absolute;
  top: 50%;
  width: 100%;
  font-size: 600%;
  background-color: rgba(0,0,0,.6);
  color: white;
  text-align: center;
  padding: 20px 0px;
}
